{% extends 'blog/base.html' %}

{% load blog_tags %}

{% block content_detail %}

<!--body from views AboutView-->
<header class="blog-post-page-title"></header>

<div class="blog-main-post blog-post-page-box">
    <article class="blog-post-block blog-post-page-content">
<!--        转义safe：把html语言的关键字过滤掉，例如<div>-->
        <section>
            {{ body|safe}}
        </section>
    </article>
</div>
{% endblock %}


{% block sidebar_toc %}
    {% include 'blog/sidebar.html' %}
{% endblock %}



