{% load blog_tags %}

<!--blog sidebar-->
<div class="col-xl-3 blog-sidebar">
    <div class="blog-sidebar-title">
        <a href="">{{ BLOG_SIDEBAR_TITLE }}</a>
    </div>
    <div class="blog-sidebar-notice">
        {{ BLOG_SIDEBAR_NOTICE }}
    </div>
    <div class="blog-sidebar-icon blog-sidebar-padding">
        <ul>
            <li><a href="https://github.com/hongweifuture" class="icon-github" target="_blank" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github"></i></a></li>
            <li><a href="//shang.qq.com/wpa/qunwpa?idkey=1d3aa2df80b07cdbe9369ba07c258d38930388a0dfa109940d252dd46018e1e1" class="icon-qq" target="_blank" data-toggle="tooltip" data-placement="bottom"
                   title="加入QQ群 <img src='{% static 'blog/images/qq-group.png' %}' style='height:150px;width:150px;'>" data-html="true"><i class="fa fa-qq"></i></a></li>

            <li><a href="mailto:i@zhwei.cn" class="icon-email" data-toggle="tooltip" data-placement="top" title="E-Mail"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://blog.csdn.net/z_johnny" class="icon-csdn" data-toggle="tooltip" target="_blank" data-placement="top" title="CSDN 博客" ><i class="fa fa-bold"></i></a></li>
<!--            <li><a href="" class="icon-rss" data-toggle="tooltip" target="_blank" data-placement="top" title="RSS"><i class="fa fa-rss"></i></a></li>-->

        </ul>
    </div>
    <div class="blog-sidebar-count blog-sidebar-padding">
        <div class="blog-sidebar-count-left">
            {% get_article_list as article_list %}
            <p class="blog-sidebar-count-p">{{ article_list|length }}</p>
            <span class="blog-sidebar-count-span">文章</span>
        </div>
        <div class="blog-sidebar-count-right">
            {% get_tag_list as tag_list %}
            <p class="blog-sidebar-count-p">{{ tag_list|length }}</p>
            <span class="blog-sidebar-count-span">标签</span>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="blog-sidebar-categories">
        <h4 class="blog-sidebar-h4"><i class="fa fa-folder-open"></i> 分类 </h4>
        <ul class="list-group blog-sidebar-padding">
            <li class="list-group-item justify-content-between">
                <a href="/timeline/" style="color:coral;text-decoration:none;" target="_blank">博客时间轴</a>
            </li>
            {% get_category_list as categorys %}
            {% for category in categorys %}
            <li class="list-group-item justify-content-between">
            <!-- <a href="{% url 'blog:category' category.slug %}">{{ category.name }}</a>-->
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                <span class="badge badge-default badge-pill">{{ category.article_num }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="blog-sidebar-tags">
        <h4 class="blog-sidebar-h4"><i class="fa fa-tag"></i> 标签云 </h4>
        <ul class="blog-sidebar-tags-ul blog-sidebar-padding">
                <!--tag_list has define on line：29-->
                {% for tag in tag_list %}
              <li><a href="{{ tag.get_absolute_url }}" class="tag-could" data-toggle="tooltip" data-placement="top" title="{{ tag.name }}">{{ tag.name }}</a></li>
                {% endfor %}
        </ul>
    </div>
    <div class="blog-sidebar-link">
        <h4 class="blog-sidebar-h4">
            <i class="fa fa-link"></i>友链
            <span data-toggle="modal" data-target="#blog-sideba-friendlink-content">
                <span style="float:right;color: deepskyblue" data-toggle="tooltip" data-placement="top" title='申请友链请点击 "申请" 后扫码联系我~~'>申请</span>
            </span>
            <div class="modal fade" id="blog-sideba-friendlink-content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">请扫码进行联系</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row blog-sideba-friendlink-content">
                            <!-- 说明：每row行共12列，分个2div，每个div平占6列，即2个*6列=12列 -->
                            <div class="col-md-6">
                                <h5>微信</h5>
                                <img class="blog-sideba-friendlink-img no-lightbox" src="{% static 'blog/images/wechat.png' %}">
                            </div>
                            <div class="col-md-6">
                                <h5>QQ</h5>
                                <img class="blog-sideba-friendlink-img no-lightbox" src="{% static 'blog/images/qq.png' %}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
            </div>

        </h4>
        {% get_friendlink as FriendLinks %}
        {% for friendlink in FriendLinks %}
        <ul >
            <li><a href="{{ friendlink.link }}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="{{ friendlink.description }}">{{ friendlink.name }}</a></li>
        </ul>
        {% endfor %}


    </div>
    <script>
      // 博客侧栏标签云随机色
      var tag_cloud = $('.tag-could');
      tag_cloud.each(function () {
          var Cnum = 9;
          var Crand = parseInt(Math.random() * Cnum);
          $(this).addClass("tag-could" + Crand);
      })
    </script>


    <!--返回顶部按钮-->
    <div class="retop">
        <i class="fa fa-angle-up"></i>
    </div>
</div>
