{% extends 'blog/base.html' %}

{% load blog_tags %}

{% block content_detail %}

<header class="blog-post-page-title">
    <h3>搜索关键词：{{ query }} </h3>
</header>

<div class="blog-main-post">
    {% for article in page_obj.object_list  %}
        <div class="index-post-br"></div>
        <article class="blog-post-block">
            {% if article.object.img_link %}
                <header>
                    <div class="blog-post-block-img">
                        <img src="{{ article.object.img_link.url }}" alt="">
                    </div>
                </header>
            {% endif %}
            <div class="blog-post-block-padding">
                {# {% load highlight %} #}
                {# {% highlight article.object.title with query %} #}
                <a href="{{ article.object.get_absolute_url }}">{% search_highlight article.object.title query %}</a>
                <section>
                    {% search_highlight article.object.summary query %}
                </section>
                <footer>
                    <span>
                        <i class="fa fa-folder-o"></i>
                        {# <a href="{% url 'blog:category' article.object.category %}" itemprop="url" rel="index">{{ article.object.category }}</a> #}
                        <a href="{{ article.object.category.get_absolute_url }}" itemprop="url" rel="index">{{ article.object.category }}</a>
                    </span>

                    <span>
                        <time datetime="{{ article.object.create_date }}"><i class="fa fa-clock-o"></i>创建于{{ article.object.create_date }}</time>
                        {% if article.object.update_date > article.object.create_date %}
                        <time datetime="{{ article.object.update_date }}"><i class="fa fa-clock-o"></i> 更新于{{ article.object.update_date }}</time>
                        {% endif %}
                    </span>

                    <span>
                        <i class="fa fa-eye">   {{ article.object.views }}</i>
                    </span>

                </footer>
            </div>
        </article>

    {% empty %}
        <div class="blog-main-post">
            <div class="no-post">没有搜索到相关内容，请重新搜索</div>
        </div>
    {% endfor %}

    {% if page_obj.has_previous or page_obj.has_next %}
        <nav id="pagination" class="blog-pagination" >
            <article class="blog-post-page-readmore">
            {% if page_obj.has_previous %}
                <a class="blog-post-page-readmore-prev" href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}"
                   data-toggle="tooltip" data-placement="top"
                   title="当前第&nbsp;{{ page_obj.number }}&nbsp;页，共&nbsp;{{ paginator.num_pages }}&nbsp;页">
                    上一页</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="blog-post-page-readmore-next" href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}"
                   data-toggle="tooltip" data-placement="top"
                   title="当前第&nbsp;{{ page_obj.number }}&nbsp;页，共&nbsp;{{ paginator.num_pages }}&nbsp;页">
                    下一页</a>
            {% endif %}
            </article>
        </nav>
    {% endif %}
</div>
{% endblock %}


{% block sidebar_toc %}
    {% include 'blog/sidebar.html' %}
{% endblock %}

